.club-top-container{
    background-color: rgb(251, 79, 145);
}
.club-top-container-text{
    color: white;
    text-align: justify;
}
.club-detail-bg-color{
    background-color: rgb(1, 0, 59);
    color: white;
}
.footer-fav-icon{
    margin: 2%;
    padding-left:1%;
}