.club-top-container{
    border-radius: 5px;
    background-color: rgb(185, 35, 92);
}
.club-top-container-text{
    color: white;
    text-align: justify;
}
.club-detail-bg-color{
    background-color: rgb(4, 2, 100);
    color: white;
}
.footer-fav-icon{
    margin: 2%;
    padding-left:1%;
}
.gender-image{
    width:100%;
}