.main-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3px;
}
.bg-color{
    background-color: rgb(1, 0, 59)
}
@media (max-width: 720px){
    .main-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1px;
    }
}
@media (max-width: 950px){
    .main-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2px;
    }
}